@model ShopCartViewModel
<section class="pb-4">
    <div class="border rounded-5">

        <section class="w-100 p-4" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3"><a href="/Cars/List" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i><ya-tr-span data-index="27-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Continue shopping" data-translation="Продолжайте делать покупки" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Продолжайте делать покупки</ya-tr-span></a></h5>
                                    <hr>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-1"><ya-tr-span data-index="28-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Shopping cart" data-translation="Корзина" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Корзина</ya-tr-span></p>
                                            <p class="mb-0"><ya-tr-span data-index="29-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Number of items in your shopping cart: @(Model.ShopCart.ShopCartItems.Count)" data-translation="Количество товаров в корзине: @(Model.ShopCart.ShopCartItems.Count)" data-ch="0" data-type="trSpan" style="visibility: initial !important;">Количество товаров в корзине: @(Model.ShopCart.ShopCartItems.Count)</ya-tr-span></p>
                                        </div>
                                    </div>
                                        @{
                                            foreach (ShopCartItem shopCartItem in Model.ShopCart.ShopCartItems)
                                            {
                                                @Html.Partial("CarInCart", shopCartItem.Car)
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            @{
                if (Model.ShopCart.ShopCartItems.Count > 0)
                {
                    <div><a class="btn btn-primary mt-2" asp-controller="Order" asp-action="Checkout">Pay</a></div>
                }
                else
                {
                    <div><a class="btn btn-primary mt-2 disabled" asp-controller="Order" asp-action="Checkout">Pay</a></div>
                }
            }
            
        </section>
      </div>
</section>

