@model HomeViewModel
@{
    Layout = "_Layout";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cars shop</font></font></h1>
            <p class="lead text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Привет! Это мой пет-проект "Интернет-магазин машин". Я сделала его для того, чтобы изучить ASP.NET. Пока что мой проект может добавлять машины в корзину и сохранять заказы. Но, как появится время, я думаю добавить авторизацию с возможностью добавлять машины в каталог определенным пользователям.</font></font></p>
        </div>
    </div>
</section>

<div class="container">
    <h1>Лучшие автомобили</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @{
                foreach (Car car in Model.FavouriteCars)
                {
                    <div class="col">
                        @Html.Partial("_all_cars", car)
                    </div>
                }
            }
    </div>
</div>