@model HomeViewModel
@{
    Layout = "_Layout";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Example album</font></font></h1>
            <p class="lead text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A short description about the album below (its contents, origin, etc.). </font><font style="vertical-align: inherit;">Keep it short and sweet, but not too short that people won't skip this album completely.</font></font></p>
            <p>
                <a href="#" class="btn btn-primary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The main call to action</font></font></a>
                <a href="#" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Secondary work</font></font></a>
            </p>
        </div>
    </div>
</section>

<div class="container">
    <h1>Лучшие автомобили</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @{
                foreach (Car car in Model.FavouriteCars)
                {
                    <div class="col">
                        @Html.Partial("_all_cars", car)
                    </div>
                }
            }
    </div>
</div>