@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarsListViewModel
@{
    Layout = "_Layout";
}

<h1>@Model.CurrentCategory</h1>
<h3>Все автомобили</h3>
@{
    foreach (var car in Model.AllCars)
    {
        <div>
            <h2>Модель: @car.Name</h2>
            <p>Цена: @car.Price.ToString("c")</p>
        </div>
    }
}