@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarsListViewModel
@{
    Layout = "_Layout";
}

<h1>@Model.CurrentCategory</h1>
<h3>Все автомобили</h3>
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @{
            foreach (Car car in Model.AllCars)
            {
                <div class="col">
                    @Html.Partial("_all_cars", car)
                </div>
            }
        }
        
    </div>
</div>